/* nav bar*/
:root {
  --primary-clr: #c4364e;
  --secondary-clr: #159d89;
  --white-clr: #fff;
  --nav-link-clr: #f89e9e;
  --dark-grey-clr: #252527;
  --border-light-clr: #e2e2e2;
}
body {
  font-family: "Lato", sans-serif;
}
html {
  font-size: 55.5%;
}

/* about section start */
.about-section{
  width: 100%;
}

.about-header{
  position: relative;
  width: 100%;
  /* transform: translate(-50%,-50%); */
}

.about-header .first-image {
  background-image: url('../assets/website-images/about-header.png') !important;
}

.about-top{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom:0;
  text-align: center;
  color: white;

}

.about-top .title-text{
  font-weight: 600;
  font-size: 40px;
}
.about-top>h1{
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
.about-text{
 margin-top: 80px;
  margin-bottom: 50px;
}
.about-block{
  margin-top: 40px;
  margin-bottom: 40px;
}
.about-img-block{
  /* padding: 20px; */
  display: flex;
 justify-content: center;
  align-items: center;
}

.about-img-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.about-block-img-2{
  width: auto;
  height: 100%;
}

.about-block-img {
  min-width: 100%;
  height: auto;
}
