.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-one {
    width: 100%;
}

.blog-one .first-image {
    background-image: url(../assets/website-images/blog-head.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* border: 1px solid green; */
    height: fit-content;
    padding: 10rem 0;
}

.blog-one .first-image h3 {
    font-size: var(--fs-main-heading);
    color: var(--white-clr);
    text-align: center;
    font-weight: 700;
}

.blog-one .filter-blogs {
    padding: 8rem 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    margin: auto;
}

@media all and (max-width: 840px) {
    .blog-one .filter-blogs {
        width: 100%;
    }
}

@media all and (max-width: 730px) {
    .blog-one .filter-blogs {
        padding: 5rem 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 330px) {
    .blog-one .filter-blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}

.blog-one .filter-blogs button {
    font-size: var(--fs-primary-text);
    color: var(--light-text-clr);
    padding: 1rem ;
}

.blog-one .filter-blogs .active,
.blog-one .filter-blogs button:hover {
    color: var(--white-clr);
    background-color: var(--secondary-clr);
}

.article-section {
    gap: 5rem;
    margin-bottom:10rem;
}

.article-section .article {
    gap: 2em;
}

.article-section .left {
    width: 70%;
}

.article-section .right {
    width: 30%;
}


.article-section .left .label h3 {
    font-size: var(--fs-title);
    font-weight: 700;
    padding: 2rem;
    background-color: var(--input-field);
    color: var(--border-clr)
}

.article-section .articles {
    gap: 3rem;
}


.article-section .article .image {
    width: 30%;
    height: 20rem;
}

.article-section .article .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.article-section .article .desc {
    width: 50%;
}

@media all and (max-width: 1260px) {
    .article-section .article .desc {
        width: 100%;
    }
}

.article-section .article .desc h4 {
    font-size: var(--fs-primary-text);
    font-weight: 700;
}

.article-section .article .desc p {
    font-size: var(--fs-primary-text);
    color: var(--light-text-clr)
}

.article-section .article .desc .secondary-text {
    font-size: var(--fs-secondary-text);
}

.article-section .article .desc a {
    font-size: var(--fs-primary-text);
    color: var(--primary-clr)
}

.blog-one .left {
    border-bottom: 2px solid;
    border-color: var(--border-light-clr);
}


/* right section */

.blog-one .right .label p {
    font-size: var(--fs-title);
    font-weight: 700;
    padding: 2rem;
    background-color: var(--dark-blue-clr);
    color: var(--white-clr);
}

/* most read */

.blog-one .right .most-read {
    margin-bottom: 5rem;
}


.blog-one .right .most-read .news {
    background-color: var(--blog-back);
}

.blog-one .right .most-read .news-item {
    padding: 2rem;
}

.blog-one .right .most-read .news-item .content p {
    font-size: var(--fs-primary-text)
}

.blog-one .right .most-read .news-item .dp {
    width: 35px ;
    height: 35px;
}

.blog-one .right .most-read .news-item .dp img {
    object-fit: contain;
    height: 100%;
}

.blog-one .right .most-read .news-item .content {
    width: 85%;
}


/* news letter */

.blog-one .right .news-letter {
    position: relative;
    border-radius: 2rem;
}
.blog-one .right .news-letter img {
    position: absolute;
    top: 0;
    right: 0;
}

.blog-one .right .news-letter form>div {
    color: var(--light-text-clr);
}

.blog-one .right .news-letter form>div input {
    background-color: var(--input-field);
    padding: 1rem;
}

.blog-one .right .news-letter form>div label {
    font-weight: 700;
}

.blog-one .right form button {
    height: 5rem;
}

/* read more blogs */

.article-section-more {
    margin-top: 4em;
}

.article-section-more .article {
    flex-direction: column !important;
    /* padding: 2em; */
}

.article-section-more .article {
    width: 100%;
}

.article-section-more .article .image {
    width: 100%;
    height: 25rem;
    /* border: 2px solid; */
}

.article-section-more .article .desc {
    width: 100%;
}

.article-section-more .article .desc>* {
    margin-bottom: .8em;
}

@media all and (max-width: 1250px) {

    .blog-one .right .most-read .news-item {
        padding: 1rem;
    }

    .blog-one .right .most-read {
        margin-bottom: 5rem;
    }
}

@media all and (max-width: 980px) {
    .blog-one .filter-blogs {
        overflow-x: scroll;
        justify-content: flex-start !important;
    }

    .blog-one .filter-blogs::-webkit-scrollbar {
        display: none;
    }
}

@media all and (max-width:780px) {

    .article-section {
        width: 100%;
        flex-direction: column !important;
    }

    .article-section .left {
        width: 100%;
        border: none;
    }

    .article-section .right {
        gap: 2rem;
        width: 100%;
        flex-direction: row !important;
    }

    .article-section .most-read {
        width: 50%;

    }

    .article-section .news-letter {
        width: 50%;
        align-self: flex-start;
    }

    .article-section-more .article {
        padding: 0;
    }

    .article-section-more .article .image {
        height: 15rem;
    }
}

@media all and (max-width: 580px) {
    .article-section .right {
        flex-direction: column !important;
        gap: 2rem;
    }

    .article-section .news-letter,
    .article-section .most-read {
        width: 100%;
    }

    .blog-one .article {
        flex-direction: column;
        gap: 2rem;
    }

    .blog-one .article .desc {
        gap: 2rem;
    }

    .article-section .left .article .desc,
    .article-section .left .article .image {
        width: 100%;
    }

    .article-section-more .articles {
        flex-direction: column !important;
    }

    .article-section-more .article {
        width: 100%;
        padding: 0;
    }
    .article-section-more .article .image {
        height: 25rem;
    }
}

@media all and (max-width: 480px) {
    .blog-one .filter-blogs button{
        font-size: var(--fs-secondary-text);
    }
}

.read-more-blog {
    transform: scale(1.5);
}