.cityPage .header-wrapper {
    padding: 0;
    /* padding-bottom: 5em; */
    gap: 2em;
    padding-left: 5rem;
    /* height: 100vh; */
}


.cityPage .city-HeaderImage img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
.cityPage .header-bookingForm input {
    padding: 0.5em;
}

.cityAbout {
    display: flex;
    flex-direction: column;
    /* padding-right: 5em; */
    align-items: center;
    gap: 2em;
    padding: 10rem 0;
    padding-right: 15rem;
    text-align: justify;
}

.topRoutes {
    padding-left: 15rem;
    padding-right: 0;
}

@media all and (max-width: 1200px)
{
    .cityPage .header-wrapper {
        padding-left: 0;
    }

    .cityAbout {
        padding-right: 5rem;
    }

    .topRoutes {
        padding-left: 5rem;
    }
}

@media all and (max-width: 780px)
{
    

    .cityAbout {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .topRoutes {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



.cityAbout-image {
    height: max(50vw, 40vh);
    width: 100%;
}
.cityAbout-image img {
    width: 100%;
    height: 100%;
}
.cityAbout-text {
    width: 100%;
    /* padding: 0 2em; */
}
.cityAbout-text p {
    font-size: var(--fs-secondary-text);
}

/* city routes styling */
.topRoutes {
    flex-direction: column-reverse;
}
.cityRoutes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin-bottom: 1.5em;
    font-weight: 700;
    color: #747874;
}
.cityRoutes .route {
    width: max-content;
}
.cityRoutes .route.active {
    color: var(--primary-clr);
    border-bottom: 2px solid var(--primary-clr);
}
.routeData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 1.2rem;
}
.cityAbout .hospitalLists {
    font-size: 1.6rem;
    color: #747874;
    margin: 1em 0;
    text-align: justify;
}
.cityAbout .hospitalLists span:first-child {
    font-weight: 600;
}

/* How to Book Ambulance */
.bookAmbulance {
    width: 90%;
    margin: 5em 15rem;
}
@media all and (max-width: 1000px) {
    .bookAmbulance{

        margin: 3rem;
    }
}
@media all and (max-width: 1000px) {
    
}
.bookAmbulance h2 {
    margin: 1.2em 0;
}
.bookAmbulance p,
.bookAmbulance li {
    font-size: 1.6rem;
    color: var(--border-clr);
}

.bookAmbulance ul .step {
    margin: 1em 0;
}
.bookingSteps .step {
    display: flex;
    align-items: center;
    gap: 1em;
}
.bookingSteps .step .step_num {
    flex-shrink: 0;
}
.bookAmbulance .bookingSteps .step_num {
    background: var(--dark-blue-clr);
    font-size: 1.5rem;
    color: var(--white-clr);
    padding: 0.25em 1em;
    border-radius: 10rem;
    width: max-content;
}

/* Emergency Number in City */
.emergency_ambulance_city {
    justify-content: center;
    /* align-items: center; */
    margin: 2em auto;
    padding: 4em 2em;
    gap: 1em;
}
.emergency_ambulance_city .label {
    display: none;
}
.emergency_ambulance_city .right-section {
    border-radius: 2rem;
    padding: 2em;
}
.emergency_ambulance_city p {
    font-size: 1.6rem;
    color: var(--border-clr);
}

/* @overwrite faqs styles */
.emergency_ambulance_city .section-5 {
    width: 100%;
    padding: 4em 0 !important;
}
.emergency_ambulance_city .accordion-item:not(:last-child) {
    margin-bottom: 2em !important;
}
/* Emergency Number in City */

/* Here media query is used for bigger screen  */
@media all and (min-width: 1080px) {
    .cityPage {
        padding: 0 0 5em 10em;
    }

    .cityPage .header-left {
        width: 60%;
    }

    .cityPage .header-booking,
    .cityPage .header-cta {
        width: 80%;
    }
    .cityPage .city-HeaderImage {
        width: 100%;
        flex-grow: 2;
    }
}
@media all and (min-width: 780px) {
    .cityPage {
        padding: 0 0 5em 10em;
    }
    .cityPage .header-left {
        width: 50%;
        flex-grow: 0;
        margin-top: 5em;
    }
    .cityPage .header-wrapper {
        gap: 6em;
    }
    .cityAbout {
        flex-direction: row;
        gap: 4em;
    }
    .cityAbout-image {
        height: auto;
    }
    .cityPage .city-HeaderImage img {
        width: 100%;
        height: 100%;
    }
    .cityAbout-text p {
        font-size: var(--fs-primary-text);
    }

    .bookAmbulance {
        width: 80%;
    }

    .bookAmbulance ul .step {
        margin: 2.5em 0;
    }
    .emergency_ambulance_city {
        gap: 4em;
    }
    .emergency_ambulance_city .right-section {
        padding: 5em;
    }
}

