footer * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.footer {
    /* padding: 4rem 8rem; */
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.829) !important;
    text-decoration: none;
    padding: 8rem;
    margin-top: 5rem;
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.797) !important;
    font-size: var(--fs-secondary-text);
}

.footer p {
    margin-bottom: 0 !important;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.829) !important;
    font-size: var(--fs-secondary-text);

}

.footer h6,
.footer span {
    color: rgba(255, 255, 255, 0.829) !important;

}

.footer section div {
    border-color: var(--border-clr);
}


.footer .cityNames p {
    text-align: justify;
    text-transform: uppercase;
}

.footer .bookAmbulance-content {
    text-align: justify;
}

.footer section .info .show {
    width: 100%;
    /* display: block; */
    /* white-space: nowrap !important; */
    /* justify-content: space-between; */
    /* overflow-x: hidden; */
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
}

.footer section .infoCard {
    /* border: 2px solid white; */
    text-align: center;
    /* width: 25%; */
    /* border: 1px solid greenyellow; */
    /* display: inline-block !important; */
    margin-bottom: 1rem;

}

@media all and (max-width: 1140px)
{
    .footer section .info .show {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
@media all and (max-width: 780px)
{
    .footer section .info .show {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media all and (max-width: 580px)
{
    .footer section .info .show {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media all and (max-width: 340px)
{
    .footer section .info .show {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.footer section .info .infoCard p {
    /* line-height: 0.5rem; */
    margin: 0;
    font-weight: lighter;
}

.footer section .downloadApp .buttons {
    /* width: 40%; */
    display: flex;
}

.footer section .downloadApp .buttons img {
    height: 5rem;
}

.footer section .downloadApp .socials {
    width: 60%;
}

.footer .elem img {
    height: fit-content;
    margin-right: 1rem;
}

.footer .elem p {
    margin-bottom: 0;
}


.footer .availableIn {
    /* width: ; */
    height: fit-content;
}

/* .footer .cities {
    width: fit-content;  
} */

.footer .buttons button img {
    height: 3rem;
}

.footer .cities #hideShow {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
}

.footer .address {
    flex-wrap: wrap;
    gap: 2rem;
}

.footer section .info .show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .contact p {
    text-align: justify;
}

button:focus:not(:focus-visible) {
    border: none;
}

/* show more buttons */
/* #hideShowBtn:active, #infoBtn:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
} */

@media all and (max-width: 700px) {
    .footer .downloadApp {
        flex-direction: column;
        align-items: center;
    }

    .footer .downloadApp .socials {
        justify-content: center !important;
    }
}

@media all and (max-width: 700px) {
    .footer {
        padding: 5rem;
    }

    

    

    

}

@media all and (max-width: 580px) {
    

    .footer section .downloadApp .buttons {
        flex-direction: row;
    }

    .footer .downloadApp .buttons .btn {
        margin: 1em 0;
    }
}

@media all and (max-width: 400px) {
    .footer {
        padding: 2rem 3rem;
    }

    

    .footer .address .elem:last-child {
        flex-direction: column;
    }

    
}

@media all and (max-width: 360px) {
    .footer section .downloadApp .buttons {
        flex-direction: column;
    }
}
