.hospitals {
  padding-right: 0 !important;
}

.hospitals .text {
  text-align: justify;
  gap: 6rem;
}

.hospitals .image img {
  object-fit: contain;
  height: 100%;
}

.hospitals .title {
  font-size: var(--fs-main-heading);
  font-weight: 700;
}
.hospitals .info {
  font-size: var(--fs-primary-text);
  color: var(--section-heading-clr);
}

.hospitals .grid-container-box .grid-item h5 {
  font-size: var(--fs-title);
}

.hospitals .grid-container-box .grid-item p {
  font-size: var(--fs-secondary-text);
}

.hospitals .download-app {
  margin: auto;
}


@media all and (max-width: 800px) {
  .hospitals .section-1 {
    flex-direction: column-reverse;
  }

  .hospitals .text {
    padding-right: 5rem;
  }

  .hospitals .section-1 .text,
  .hospitals .section-1 .image {
    width: 100% !important;
  }
}

@media all and (max-width: 600px) {
  .hospitals .section-1 .text {
    gap: 3rem;
  }
}

@media all and (max-width: 500px) {
  .hospitals .section-1 {
    padding: 2rem;
  }
  .hospitals .text {
    padding-right: 3rem;
  }
  .hospitals .grid-container-box .grid-item h5 {
    font-size: var(--fs-primary-text);
  }
  
}

@media all and (max-width: 400px) {
  .hospitals .text {
    padding-right: 2rem;
  }
}
